*.ssh*
.profile
.python_history
.viminfo
.vim/*
.vim
.wget-hsts
__pycache__/
.sudo_as_admin_successful
venv/
.psql_history
.psqlrc
.bash_history
.bash_logout
.bashrc
.cloud-locale-test.skip
.cache
.vscode-server/
nohup.out