{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        	<h1>Welcome to SNQL!</h1>
                <img src="{{ url_for('static', filename='images/logo.png') }}" width=20% style="min-width:200px; padding-bottom:15px; margin-top: -20px;">
        	<p>SNQL is a sneaker data tracking system. Input data on this site – new pairs, wears, sales, you name it – and an Airflow job will build a downstream dimension table used for visualizations on <a href="justinsgage.com" class="link">my site.</a></p>
                <p>You can check out the Github repo <a class="link" href="https://github.com/gagejustins/snql" target="_blank">here</a>.</p>
         </div>
    </div>
</div> 
{% endblock %}
