{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="sneaker-form-header">Use Sneakers</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="type">{{ form.event_type.label }}</label>
                    {{ form.event_type(class="form-control") }}
                    {% for error in form.event_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="color">{{ form.sneaker_id.label }}</label>
                    {{ form.sneaker_id(class="form-control") }}
                    {% for error in form.sneaker_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <p>{{ form.submit(class="sneaker-form-submit") }}</p>
             </form>
         </div>
    </div>
</div> 
{% endblock %}
